.bgColor{
    background-color: #2bd1fc;
}
.navColor {
    background-color: #ff48c4;
}
.textWhiteColor {
    color: white;
}
.footerColor {
    background-color: #c04df9;
}
.anchorStyleRemove {
    color: white;
}
.anchorStyleRemove:hover, .anchorStyleRemove:link, .anchorStyleRemove:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.card-title {
    height: 12rem;
    overflow: auto;
}
.cardColor{
    background-color: #c04df9;
}

.titleFont {
    font-family: 'Rock Salt', cursive;
    color: #cb84ff;
}

.subtitleFont {
    font-family: 'Cambo', serif;
    color: white;
}

.logoFont {
    font-family: 'Roboto Condensed', sans-serif;
}
